<%# landing %>
<div class="p-5 d-flex flex-column align-items-center justify-content-center text-center"
     style="background: linear-gradient(transparent, black),
            url('assets/course_images/bg1.webp');
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
          ">
  <div class="p-5">
    <h1 class="text-white">Learn programming skills with us</h1>
    <p class="text-white text-center">We’re here to help you improve as fast as possible. With us, you’ll always be studying with the most updated, tried-and-tested videos & study materials. We don't overwhelm you with lot of ineffective materials.</p>
  </div>
</div>
<%# course section %>
<div class="container-fluid mt-3">
  <h3 class="text-center my-3">Our Courses</h3>
  <div class="container d-flex flex-wrap p-3 justify-content-center align-items-center" >
    <% @courses.each do |course|%>
    <div class="card m-3 shadow" style="width: 18rem">
      <img src="<%=course.image%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=course.name%></h5>
        <div class="card-text d-flex justify-content-between">
          <p><%=course.description%></p>
          <p>Price:<%=course.price%></p>
        </div>
        <%= link_to "View Details" ,course,methods: :get, class: "btn
        btn-secondary btn-sm" %>
      </div>
    </div>
    <%end%>
  </div>
</div>
<%# feedback section %>

<div class="feedback-section p-3 mt-3" 
     style="background: linear-gradient(transparent, black),
            url('assets/course_images/feedback.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          
          ">
  <h3 class="text-center mb-3">Feedback</h3>
  <div class="container d-flex flex-wrap">
    <% @feedbacks.each do |feedback| %>
    <div class="card shadow p-4 m-3" style="width: 20rem">
      <div class="card-title">
        <div class="d-flex">
          <% if feedback.user.avatar.persisted? %> 
              <%= image_tag feedback.user.avatar, class:"img-fluid" ,width:"40px",style:"border-radius:50%"%>
        <%else%> 
              <%= image_tag "/assets/course_images/img.png", class:"img-fluid",width:"40px",style:"border-radius:50%"%> 
        <%end %>
        <h5 class="card-title text-capitalize my-auto mx-2">
            <%= feedback.user.name%>
        </h5>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text"><%= feedback.description%></p>
      </div>
    </div>
    <%end%>
  </div>
</div>

<%# footer section %>
<div class="container-fluid bg-dark text-white text-center p-2">
  Copyright © 2008 - 2023 Skillify.com All Rights Reserved.
</div>
