<%= render "shared/alert" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  function myFunction(array) {
    $.ajax({
      type: "GET",
      url: "/addition?id=" + array[0] + "&link=" + array[1],
      success: function () {
        alert("you watched the pdf ");
        document.getElementById("color_change").style.color = "green";
      },
      error: function () {
        alert("An error occurred");
      },
    });
    console.log("you clicked me");
  }
</script>

<div class="container p-4">
  <%= notice %>
  <div>
    <h1><%= @course.name %></h1>
    <p>
      Learn to code in Java — a robust programming language used to create
      software, web and mobile apps, and more.
    </p>
    <h4>About this course</h4>
    <p>
      Popular for its versatility and ability to create a wide variety of
      applications, learning Java opens up your possibilities when coding. With
      it, you’ll be able to develop large systems, software, and mobile
      applications — and even create mobile apps for Android. Learn important Java
      coding fundamentals and practice your new skills with real-world projects.
    </p>
  </div>
  
  <% if user_signed_in? && current_user.courses.find_by(name: @course.name) %>
   <%# course details %>
     <div>
       <h4>Syllabus</h4>
        <p><% @list=@course.pdfs.first.path.split(",") %></p>
        <% @list.each_with_index do |link, index| %> <%
            @progress=Progress.find_by(course_id: @course.id, user_id: current_user.id)%>
            <a
              href="<%= link %>"
              target="_blank"
              style="text-decoration: none"
              onclick="myFunction(<%=[Progress.find_by(course_id: @course.id, user_id: current_user.id).id,link]%>)">
              <i class="fa fa-file" aria-hidden="true"></i>
              <%= @course.pdfs.first.name %> <%= index + 1 %> </a
            ><br />
        <% end %>
     </div>
      
   <%# Syllabus %>
      <div>
         <h4 class="mt-2">Your progress:</h4>
   
         <% @val=Progress.find_by(course_id: @course.id,user_id: current_user.id).percentage_completion %> 

        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%=@val.to_i%>%" aria-valuenow="<%=@val.to_i%>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
     
        <p class="text-success">Course completion percentage : 
          <%= Progress.find_by(course_id: @course.id,user_id: current_user.id).percentage_completion %> 
        </p>
      </div>
   <%# feedback %>

      <div>
      
        <%unless  Feedback.find_by(course_id:@course.id,user_id:current_user.id)%>
          <h4>Add feedback :</h4>
          
          <%= form_with(model: [@course, Feedback.new]) do |form| %>
             
              <%= form.text_area :description, placeholder: "Enter your feedback here" %>
              <br />
              
              <%= form.submit "Submit Feedback" , class: "btn btn-primary btn-sm" %> 
               
          <% end %>

        <%end%> 
        <% if @progress.pdf_watched==3 %>
                <h4 >Generate certificate</h4>
                <%= link_to "download now", download_pdf_path(@course.name) %>
        <%end%>
      </div>
  <% else %>
      <h4>Price: <%= @course.price %></h4>
      <p>You are not authorized to access this course</p>
      <%= link_to "Buy now" , "/add?course_id=#{@course.id}" , class: "btn btn-primary my-1" %>
  <% end %>
</div>
